In [13]:
import numpy as np
import pandas as pd
from time import strptime

In [14]:
dataset = 'dataset/no_preprocessed/power_samples_d4_2split_2.csv'

In [15]:
df = pd.read_csv(dataset)
df.head()

,iid,tmstp,deploy,Imin,Imax,Iavg,Vmin,Vmax,Vavg,Pmin,Pmax,Pavg,Qmin,Qmax,Qavg,PFmin,PFmax,PFavg,miss_flag
0,48,2014-02-08 12:40:16,4,0.976302,1.017350,1.001550,229.360,231.105,230.410,182.050,190.974,187.032,-138.496,-130.651,-135.172,0.802611,0.818862,0.810480,0
1,48,2014-02-08 12:41:16,4,0.980544,1.018330,0.999724,229.372,230.931,230.263,181.606,190.061,186.410,-137.898,-132.225,-135.066,0.801486,0.819553,0.809773,0
2,48,2014-02-08 12:42:16,4,0.952984,1.015950,0.986261,228.614,230.891,229.983,178.379,190.099,184.618,-138.058,-123.588,-131.769,0.800810,0.829915,0.813979,0
3,48,2014-02-08 12:43:16,4,0.947338,0.986049,0.969673,228.036,229.943,229.385,178.094,186.826,182.195,-130.448,-122.637,-127.588,0.812305,0.833854,0.819117,0
4,48,2014-02-08 12:44:16,4,0.940186,0.983312,0.968914,228.549,230.087,229.496,176.021,185.146,181.756,-130.605,-122.595,-128.096,0.809026,0.828121,0.817389,0

In [16]:
df.count()

iid          828500
tmstp        828500
deploy       828500
Imin         828389
Imax         828389
Iavg         828389
Vmin         828389
Vmax         828389
Vavg         828389
Pmin         828389
Pmax         828389
Pavg         828389
Qmin         828389
Qmax         828389
Qavg         828389
PFmin        828389
PFmax        828389
PFavg        828389
miss_flag    828500
dtype: int64

### Timestamp processing

In [17]:
df['tmstp'] = pd.to_datetime(df['tmstp'])
df['datetime'] = df['tmstp'].dt.strftime('%Y-%m-%d')
df['hour'] = df['tmstp'].dt.strftime('%H:%M:%S')

df.head(10)

,iid,tmstp,deploy,Imin,Imax,Iavg,Vmin,Vmax,Vavg,Pmin,...,Pavg,Qmin,Qmax,Qavg,PFmin,PFmax,PFavg,miss_flag,datetime,hour
0,48,2014-02-08 12:40:16,4,0.976302,1.017350,1.001550,229.360,231.105,230.410,182.050,...,187.032,-138.496,-130.651,-135.172,0.802611,0.818862,0.810480,0,2014-02-08,12:40:16
1,48,2014-02-08 12:41:16,4,0.980544,1.018330,0.999724,229.372,230.931,230.263,181.606,...,186.410,-137.898,-132.225,-135.066,0.801486,0.819553,0.809773,0,2014-02-08,12:41:16
2,48,2014-02-08 12:42:16,4,0.952984,1.015950,0.986261,228.614,230.891,229.983,178.379,...,184.618,-138.058,-123.588,-131.769,0.800810,0.829915,0.813979,0,2014-02-08,12:42:16
3,48,2014-02-08 12:43:16,4,0.947338,0.986049,0.969673,228.036,229.943,229.385,178.094,...,182.195,-130.448,-122.637,-127.588,0.812305,0.833854,0.819117,0,2014-02-08,12:43:16
4,48,2014-02-08 12:44:16,4,0.940186,0.983312,0.968914,228.549,230.087,229.496,176.021,...,181.756,-130.605,-122.595,-128.096,0.809026,0.828121,0.817389,0,2014-02-08,12:44:16
5,48,2014-02-08 12:45:16,4,0.887690,0.983980,0.945147,228.563,230.364,229.721,168.465,...,177.899,-131.531,-113.071,-124.456,0.807942,0.837806,0.819493,0,2014-02-08,12:45:16
6,48,2014-02-08 12:46:16,4,0.867340,0.921945,0.899899,227.559,230.432,229.624,159.063,...,170.008,-122.131,-100.234,-117.454,0.804559,0.878488,0.822723,0,2014-02-08,12:46:16
7,48,2014-02-08 12:47:16,4,0.868876,0.910040,0.890172,228.605,230.180,229.733,162.285,...,167.338,-120.695,-113.283,-117.552,0.805937,0.831645,0.818270,0,2014-02-08,12:47:16
8,48,2014-02-08 12:48:16,4,0.861297,0.904541,0.886032,228.615,230.318,229.805,160.192,...,166.202,-120.255,-113.147,-117.624,0.807665,0.828914,0.816254,0,2014-02-08,12:48:16
9,48,2014-02-08 12:49:16,4,0.858326,0.920900,0.902582,229.006,230.929,230.233,160.642,...,168.144,-126.297,-112.665,-122.101,0.799262,0.828688,0.809191,0,2014-02-08,12:49:16

In [18]:
df.count()

iid          828500
tmstp        828500
deploy       828500
Imin         828389
Imax         828389
Iavg         828389
Vmin         828389
Vmax         828389
Vavg         828389
Pmin         828389
Pmax         828389
Pavg         828389
Qmin         828389
Qmax         828389
Qavg         828389
PFmin        828389
PFmax        828389
PFavg        828389
miss_flag    828500
datetime     828500
hour         828500
dtype: int64

### Limpieza datos NaN

In [19]:
df.isnull().any() #15 parámetros

iid          False
tmstp        False
deploy       False
Imin          True
Imax          True
Iavg          True
Vmin          True
Vmax          True
Vavg          True
Pmin          True
Pmax          True
Pavg          True
Qmin          True
Qmax          True
Qavg          True
PFmin         True
PFmax         True
PFavg         True
miss_flag    False
datetime     False
hour         False
dtype: bool

In [20]:
#df = df.dropna() #se eliminan las filas null
df = df.dropna(thresh=len(df.columns) - 15 + 1) #drop fila si parámetros = NaN (15)
df.isnull().any()

iid          False
tmstp        False
deploy       False
Imin         False
Imax         False
Iavg         False
Vmin         False
Vmax         False
Vavg         False
Pmin         False
Pmax         False
Pavg         False
Qmin         False
Qmax         False
Qavg         False
PFmin        False
PFmax        False
PFavg        False
miss_flag    False
datetime     False
hour         False
dtype: bool

In [21]:
# filtro_NAN = df['miss_flag'] == 0
# df[filtro_NAN].head()

In [22]:
df.head()

,iid,tmstp,deploy,Imin,Imax,Iavg,Vmin,Vmax,Vavg,Pmin,...,Pavg,Qmin,Qmax,Qavg,PFmin,PFmax,PFavg,miss_flag,datetime,hour
0,48,2014-02-08 12:40:16,4,0.976302,1.017350,1.001550,229.360,231.105,230.410,182.050,...,187.032,-138.496,-130.651,-135.172,0.802611,0.818862,0.810480,0,2014-02-08,12:40:16
1,48,2014-02-08 12:41:16,4,0.980544,1.018330,0.999724,229.372,230.931,230.263,181.606,...,186.410,-137.898,-132.225,-135.066,0.801486,0.819553,0.809773,0,2014-02-08,12:41:16
2,48,2014-02-08 12:42:16,4,0.952984,1.015950,0.986261,228.614,230.891,229.983,178.379,...,184.618,-138.058,-123.588,-131.769,0.800810,0.829915,0.813979,0,2014-02-08,12:42:16
3,48,2014-02-08 12:43:16,4,0.947338,0.986049,0.969673,228.036,229.943,229.385,178.094,...,182.195,-130.448,-122.637,-127.588,0.812305,0.833854,0.819117,0,2014-02-08,12:43:16
4,48,2014-02-08 12:44:16,4,0.940186,0.983312,0.968914,228.549,230.087,229.496,176.021,...,181.756,-130.605,-122.595,-128.096,0.809026,0.828121,0.817389,0,2014-02-08,12:44:16

In [23]:
df.count()

iid          828389
tmstp        828389
deploy       828389
Imin         828389
Imax         828389
Iavg         828389
Vmin         828389
Vmax         828389
Vavg         828389
Pmin         828389
Pmax         828389
Pavg         828389
Qmin         828389
Qmax         828389
Qavg         828389
PFmin        828389
PFmax        828389
PFavg        828389
miss_flag    828389
datetime     828389
hour         828389
dtype: int64

In [24]:
fich_out = "dataset/preprocessed/new_" + dataset
df.to_csv(fich_out, index=False)