## Tratamiento posterior a la creación de los ficheros consum_x.csv

In [378]:
import pandas as pd

In [379]:
file = 'dataset/nodes/consum/consum_1.csv'
df = pd.read_csv(file)

In [380]:
df['datetime'] = pd.to_datetime(df['datetime'])
rango = df[(df['datetime'] >= '2010-11-28') & (df['datetime'] < '2011-11-28')]

In [381]:
rango.to_csv(file, index=False) #nuevo fichero de consumo con el rango de un año

## Tratamiento NaN

In [382]:
#hay que rellenar las filas sin hora  
df['h'] = pd.to_numeric(df['h'], errors='coerce')
#df['h'] = df['h'].where(df['h'].shift(1) == 23.0, df['h'].fillna(df['h'].shift(1) + 1).fillna(0))

#hay que rellenar las filas con datos nan
#df['Pavg'] = df['Pavg'].fillna((df['Pavg'].shift(1) + df['Pavg'].shift(2) + df['Pavg'].shift(3))/3)


#esto no funciona ->
""" for i, row in df.iterrows():
    if pd.isna(row['h']):
        row['h'] = df['h'].shift(1) + 1 """
        
#esto rellena la primera bien y las demás igual que la primera      
""" df['h'] = df['h'].fillna(method='ffill') + 1
df['h'] = df['h'].apply(lambda x: x % 24) """


#solución temporal -> relleno -1
#df['h'] = df['h'].fillna(-1) #ESTO CUIDADO QUE TIMESTAMP LO ASOCIA COMO 23:00

" df['h'] = df['h'].fillna(method='ffill') + 1\ndf['h'] = df['h'].apply(lambda x: x % 24) "

In [383]:
#comprobación de nan
subset = df[df['datetime'] == '2011-09-04']
subset

             Pavg  iid   datetime    h
6720  1132.853407    1 2011-09-04  0.0
6721   936.154763    1 2011-09-04  1.0
6722   475.055650    1 2011-09-04  2.0
6723   580.334983    1 2011-09-04  3.0
6724  2203.706700    1 2011-09-04  4.0
6725  2998.150000    1 2011-09-04  5.0
6726          NaN    1 2011-09-04  NaN
6727          NaN    1 2011-09-04  NaN
6728          NaN    1 2011-09-04  NaN
6729          NaN    1 2011-09-04  NaN
6730          NaN    1 2011-09-04  NaN
6731          NaN    1 2011-09-04  NaN
6732          NaN    1 2011-09-04  NaN
6733          NaN    1 2011-09-04  NaN
6734          NaN    1 2011-09-04  NaN
6735          NaN    1 2011-09-04  NaN
6736          NaN    1 2011-09-04  NaN
6737          NaN    1 2011-09-04  NaN
6738          NaN    1 2011-09-04  NaN
6739          NaN    1 2011-09-04  NaN
6740          NaN    1 2011-09-04  NaN
6741          NaN    1 2011-09-04  NaN
6742          NaN    1 2011-09-04  NaN
6743          NaN    1 2011-09-04  NaN

In [384]:
#se añade columna timestamp
df['timestamp'] = pd.to_datetime(df['datetime']) + pd.to_timedelta(df['h'], unit='h')
df.head()

         Pavg  iid   datetime    h           timestamp
0   88.245095    1 2010-11-28  0.0 2010-11-28 00:00:00
1   97.032063    1 2010-11-28  1.0 2010-11-28 01:00:00
2  265.475255    1 2010-11-28  2.0 2010-11-28 02:00:00
3  133.492523    1 2010-11-28  3.0 2010-11-28 03:00:00
4   46.772055    1 2010-11-28  4.0 2010-11-28 04:00:00

In [385]:
df = df.dropna() 
df["h"] = df["h"].astype(int)