## DATASET FINAL DE CARGAS PARA SIMULACIÓN

In [57]:
import pandas as pd
import glob as gl
import matplotlib.pyplot as plt

In [58]:
#parámetros timestamp y fichero de salida
fecha = '2011-08-31' #28-11-2010 -> 28-11-2011
hora = 15 
out = "simtests/test_" + str(fecha) + "_" + str(hora) + ".csv" #nombre de ficheros de salida

In [59]:
#lectura de todos los dfs
path = gl.glob("dataset/nodes/loads/load_*.csv")
dfs = []

for file in path:
    dfs.append(pd.read_csv(file, low_memory=False))
    
df = pd.concat(dfs, ignore_index=True)

### Selección de instante temporal [2010-11-28, 2011-11-28)

In [60]:
subset = df[(df['datetime'] == fecha) & (df['h'] == hora)] 
subset.count() #tienen que ser 23 datos

timestamp                           20
datetime                            20
h                                   20
Beam Irradiance (W/m2)              20
Diffuse Irradiance (W/m2)           20
Ambient Temperature (C)             20
Plane of Array Irradiance (W/m2)    20
Cell Temperature (C)                20
DC Array Output (W)                 20
Pavg                                20
iid                                 20
dif                                 20
dtype: int64

In [61]:
column_order = ['iid'] + [col for col in list(subset.columns) if col not in ['iid']] #reorden de columna iid
subset = subset[column_order]
subset = subset.sort_values(by = 'iid')
subset

,iid,timestamp,datetime,h,Beam Irradiance (W/m2),Diffuse Irradiance (W/m2),Ambient Temperature (C),Plane of Array Irradiance (W/m2),Cell Temperature (C),DC Array Output (W),Pavg,dif
6356,1,2011-08-31 15:00:00,2011-08-31,15,694,110,24.3,691.295,52.537,2109.329,333.623767,1775.705233
115129,2,2011-08-31 15:00:00,2011-08-31,15,694,110,24.3,691.295,52.537,2109.329,309.946051,1799.382949
154586,3,2011-08-31 15:00:00,2011-08-31,15,694,110,24.3,691.295,52.537,2109.329,942.872933,1166.456067
169476,5,2011-08-31 15:00:00,2011-08-31,15,694,110,24.3,691.295,52.537,2109.329,344.721083,1764.607917
195178,8,2011-08-31 15:00:00,2011-08-31,15,694,110,24.3,691.295,52.537,2109.329,190.837933,1918.491067
205782,9,2011-08-31 15:00:00,2011-08-31,15,694,110,24.3,691.295,52.537,2109.329,207.617348,1901.711652
18131,10,2011-08-31 15:00:00,2011-08-31,15,694,110,24.3,691.295,52.537,2109.329,363.726183,1745.602817
27691,11,2011-08-31 15:00:00,2011-08-31,15,694,110,24.3,691.295,52.537,2109.329,425.237414,1684.091586
36393,12,2011-08-31 15:00:00,2011-08-31,15,694,110,24.3,691.295,52.537,2109.329,416.485100,1692.843900
44968,13,2011-08-31 15:00:00,2011-08-31,15,694,110,24.3,691.295,52.537,2109.329,227.005517,1882.323483
55978,14,2011-08-31 15:00:00,2011-08-31,15,694,110,24.3,691.295,52.537,2109.329,682.576183,1426.752817
65934,15,2011-08-31 15:00:00,2011-08-31,15,694,110,24.3,691.295,52.537,2109.329,609.728000,1499.601000
73001,16,2011-08-31 15:00:00,2011-08-31,15,694,110,24.3,691.295,52.537,2109.329,184.367154,1924.961846
84131,17,2011-08-31 15:00:00,2011-08-31,15,694,110,24.3,691.295,52.537,2109.329,2238.860847,-129.531847
94208,18,2011-08-31 15:00:00,2011-08-31,15,694,110,24.3,691.295,52.537,2109.329,187.637531,1921.691469
105666,19,2011-08-31 15:00:00,2011-08-31,15,694,110,24.3,691.295,52.537,2109.329,987.911100,1121.417900
123401,20,2011-08-31 15:00:00,2011-08-31,15,694,110,24.3,691.295,52.537,2109.329,1171.560576,937.768424
131358,21,2011-08-31 15:00:00,2011-08-31,15,694,110,24.3,691.295,52.537,2109.329,288.079317,1821.249683
140645,22,2011-08-31 15:00:00,2011-08-31,15,694,110,24.3,691.295,52.537,2109.329,109.130795,2000.198205
146820,23,2011-08-31 15:00:00,2011-08-31,15,694,110,24.3,691.295,52.537,2109.329,1015.606067,1093.722933

In [62]:
if subset.shape[0] == 23 and not subset.empty: #23 filas con datos
    subset.to_csv(out, index=False)