## DATASET FINAL DE CARGAS PARA SIMULACIÓN

In [84]:
import pandas as pd
import glob as gl
import matplotlib.pyplot as plt

In [85]:
#parámetros timestamp y fichero de salida
fecha = '2011-03-24' #28-11-2010 -> 28-11-2011
hora = 15 
out = "simtests/test_" + str(fecha) + "_" + str(hora) #nombre de ficheros de salida

In [86]:
#lectura de todos los dfs
path = gl.glob("dataset/nodes/loads/load_*.csv")
dfs = []

for file in path:
    dfs.append(pd.read_csv(file, low_memory=False))
    
df = pd.concat(dfs, ignore_index=True)

### Selección de instante temporal [2010-11-28, 2011-11-28)

In [87]:
subset = df[(df['datetime'] == fecha) & (df['h'] == hora)] 
subset.count() #tienen que ser 23 datos

timestamp                           23
datetime                            23
h                                   23
Beam Irradiance (W/m2)              23
Diffuse Irradiance (W/m2)           23
Ambient Temperature (C)             23
Plane of Array Irradiance (W/m2)    23
Cell Temperature (C)                23
DC Array Output (W)                 23
Pavg                                23
iid                                 23
dif                                 23
dtype: int64

In [88]:
column_order = ['iid'] + [col for col in list(subset.columns) if col not in ['iid']] #reorden de columna iid
subset = subset[column_order]
subset = subset.sort_values(by = 'iid')
subset

,iid,timestamp,datetime,h,Beam Irradiance (W/m2),Diffuse Irradiance (W/m2),Ambient Temperature (C),Plane of Array Irradiance (W/m2),Cell Temperature (C),DC Array Output (W),Pavg,dif
2693,1,2011-03-24 15:00:00,2011-03-24,15,609,146,21.7,663.32,32.277,2200.145,32.804260,2167.340740
111429,2,2011-03-24 15:00:00,2011-03-24,15,609,146,21.7,663.32,32.277,2200.145,126.826862,2073.318138
150906,3,2011-03-24 15:00:00,2011-03-24,15,609,146,21.7,663.32,32.277,2200.145,421.001550,1779.143450
160322,4,2011-03-24 15:00:00,2011-03-24,15,609,146,21.7,663.32,32.277,2200.145,446.682553,1753.462447
165860,5,2011-03-24 15:00:00,2011-03-24,15,609,146,21.7,663.32,32.277,2200.145,645.136267,1555.008733
177317,6,2011-03-24 15:00:00,2011-03-24,15,609,146,21.7,663.32,32.277,2200.145,179.169333,2020.975667
185771,7,2011-03-24 15:00:00,2011-03-24,15,609,146,21.7,663.32,32.277,2200.145,74.054202,2126.090798
191531,8,2011-03-24 15:00:00,2011-03-24,15,609,146,21.7,663.32,32.277,2200.145,297.493667,1902.651333
202233,9,2011-03-24 15:00:00,2011-03-24,15,609,146,21.7,663.32,32.277,2200.145,237.688292,1962.456708
14359,10,2011-03-24 15:00:00,2011-03-24,15,609,146,21.7,663.32,32.277,2200.145,127.200247,2072.944753
23969,11,2011-03-24 15:00:00,2011-03-24,15,609,146,21.7,663.32,32.277,2200.145,431.840833,1768.304167
32849,12,2011-03-24 15:00:00,2011-03-24,15,609,146,21.7,663.32,32.277,2200.145,537.987367,1662.157633
41490,13,2011-03-24 15:00:00,2011-03-24,15,609,146,21.7,663.32,32.277,2200.145,208.950717,1991.194283
52391,14,2011-03-24 15:00:00,2011-03-24,15,609,146,21.7,663.32,32.277,2200.145,345.121733,1855.023267
62449,15,2011-03-24 15:00:00,2011-03-24,15,609,146,21.7,663.32,32.277,2200.145,226.764767,1973.380233
69381,16,2011-03-24 15:00:00,2011-03-24,15,609,146,21.7,663.32,32.277,2200.145,24.766014,2175.378986
80951,17,2011-03-24 15:00:00,2011-03-24,15,609,146,21.7,663.32,32.277,2200.145,1053.342483,1146.802517
90638,18,2011-03-24 15:00:00,2011-03-24,15,609,146,21.7,663.32,32.277,2200.145,123.734660,2076.410340
102069,19,2011-03-24 15:00:00,2011-03-24,15,609,146,21.7,663.32,32.277,2200.145,406.765983,1793.379017
119931,20,2011-03-24 15:00:00,2011-03-24,15,609,146,21.7,663.32,32.277,2200.145,399.311350,1800.833650
127740,21,2011-03-24 15:00:00,2011-03-24,15,609,146,21.7,663.32,32.277,2200.145,293.823900,1906.321100
136880,22,2011-03-24 15:00:00,2011-03-24,15,609,146,21.7,663.32,32.277,2200.145,99.019162,2101.125838
143362,23,2011-03-24 15:00:00,2011-03-24,15,609,146,21.7,663.32,32.277,2200.145,716.536383,1483.608617

In [89]:
if subset.shape[0] == 23 and not subset.empty: #23 filas con datos
    subset.to_csv(out, index=False)