## DATASET FINAL DE CARGAS PARA SIMULACIÓN

In [75]:
import pandas as pd
import glob as gl

In [76]:
#parámetros timestamp y fichero de salida
fecha = '2010-11-28' 
hora = 0 
out = "simtests/test_" + str(fecha) + "_" + str(hora)

In [77]:
#lectura de todos los dfs
path = gl.glob("dataset/nodes/loads/load_*.csv")
dfs = []

for file in path:
    dfs.append(pd.read_csv(file, low_memory=False))
    
df = pd.concat(dfs, ignore_index=True)

### Selección de instante temporal [2010-11-28, 2011-11-28)

In [78]:
subset = df[(df['datetime'] == fecha) & (df['h'] == hora)] 
subset.count() #tienen que ser 23 datos

timestamp                           23
datetime                            23
h                                   23
Beam Irradiance (W/m2)              23
Diffuse Irradiance (W/m2)           23
Ambient Temperature (C)             23
Plane of Array Irradiance (W/m2)    23
Cell Temperature (C)                23
DC Array Output (W)                 23
Pavg                                23
iid                                 23
dif                                 23
dtype: int64

In [79]:
column_order = ['iid'] + [col for col in list(subset.columns) if col not in ['iid']] #reorden de columna iid
subset = subset[column_order]
subset = subset.sort_values(by = 'iid')
subset

,iid,timestamp,datetime,h,Beam Irradiance (W/m2),Diffuse Irradiance (W/m2),Ambient Temperature (C),Plane of Array Irradiance (W/m2),Cell Temperature (C),DC Array Output (W),Pavg,dif
0,1,2010-11-28 00:00:00,2010-11-28,0,0,0,12.8,0.0,12.8,0.0,88.245095,-88.245095
108630,2,2010-11-28 00:00:00,2010-11-28,0,0,0,12.8,0.0,12.8,0.0,111.533308,-111.533308
148184,3,2010-11-28 00:00:00,2010-11-28,0,0,0,12.8,0.0,12.8,0.0,326.837783,-326.837783
157618,4,2010-11-28 00:00:00,2010-11-28,0,0,0,12.8,0.0,12.8,0.0,175.428595,-175.428595
163140,5,2010-11-28 00:00:00,2010-11-28,0,0,0,12.8,0.0,12.8,0.0,311.489133,-311.489133
174574,6,2010-11-28 00:00:00,2010-11-28,0,0,0,12.8,0.0,12.8,0.0,216.735517,-216.735517
183037,7,2010-11-28 00:00:00,2010-11-28,0,0,0,12.8,0.0,12.8,0.0,58.674383,-58.674383
188848,8,2010-11-28 00:00:00,2010-11-28,0,0,0,12.8,0.0,12.8,0.0,170.691017,-170.691017
199625,9,2010-11-28 00:00:00,2010-11-28,0,0,0,12.8,0.0,12.8,0.0,249.149317,-249.149317
11614,10,2010-11-28 00:00:00,2010-11-28,0,0,0,12.8,0.0,12.8,0.0,180.058683,-180.058683
21242,11,2010-11-28 00:00:00,2010-11-28,0,0,0,12.8,0.0,12.8,0.0,190.122845,-190.122845
30192,12,2010-11-28 00:00:00,2010-11-28,0,0,0,12.8,0.0,12.8,0.0,350.999117,-350.999117
38739,13,2010-11-28 00:00:00,2010-11-28,0,0,0,12.8,0.0,12.8,0.0,157.366300,-157.366300
49805,14,2010-11-28 00:00:00,2010-11-28,0,0,0,12.8,0.0,12.8,0.0,1551.205800,-1551.205800
59700,15,2010-11-28 00:00:00,2010-11-28,0,0,0,12.8,0.0,12.8,0.0,562.365750,-562.365750
66657,16,2010-11-28 00:00:00,2010-11-28,0,0,0,12.8,0.0,12.8,0.0,119.741212,-119.741212
78203,17,2010-11-28 00:00:00,2010-11-28,0,0,0,12.8,0.0,12.8,0.0,709.545567,-709.545567
87958,18,2010-11-28 00:00:00,2010-11-28,0,0,0,12.8,0.0,12.8,0.0,545.134850,-545.134850
99481,19,2010-11-28 00:00:00,2010-11-28,0,0,0,12.8,0.0,12.8,0.0,2160.032833,-2160.032833
117321,20,2010-11-28 00:00:00,2010-11-28,0,0,0,12.8,0.0,12.8,0.0,285.828100,-285.828100
125047,21,2010-11-28 00:00:00,2010-11-28,0,0,0,12.8,0.0,12.8,0.0,228.074550,-228.074550
134264,22,2010-11-28 00:00:00,2010-11-28,0,0,0,12.8,0.0,12.8,0.0,78.406628,-78.406628
140795,23,2010-11-28 00:00:00,2010-11-28,0,0,0,12.8,0.0,12.8,0.0,710.893700,-710.893700

In [80]:
if subset.shape[0] == 23 and not subset.empty: #23 filas con datos
    subset.to_csv(out, index=False)