In [13]:
import pandas as pd
from time import strptime

Código de parseo timestamp 
    nuevas columnas -> datetime, hour (h,m,s)
    
Borrado datos NaN si fila completa vacía

In [14]:
#dataset = 'dataset/no_preprocessed/power_samples_d4_2split_2.csv'
dataset = 'NO/power_events/power_events_d2.csv'

In [15]:
df = pd.read_csv(dataset)
df.head()

   iid                tmstp  deploy  delta_P  delta_Q  trace_P  trace_Q
0    1  2010-11-25 20:40:53       2    856.9      NaN      NaN      NaN
1    1  2010-11-25 20:44:17       2    790.0      NaN      NaN      NaN
2    1  2010-11-25 20:51:49       2   -103.7      NaN      NaN      NaN
3    1  2010-11-25 21:05:29       2    912.5      NaN      NaN      NaN
4    1  2010-11-25 21:12:52       2    -98.0      NaN      NaN      NaN

In [16]:
df.count()

iid        6485017
tmstp      6485017
deploy     6485017
delta_P    6485017
delta_Q          0
trace_P          0
trace_Q          0
dtype: int64

### Timestamp processing

In [17]:
df['tmstp'] = pd.to_datetime(df['tmstp'])
df['datetime'] = df['tmstp'].dt.strftime('%Y-%m-%d')
df['hour'] = df['tmstp'].dt.strftime('%H:%M:%S')

df.head(10)

,iid,tmstp,deploy,delta_P,delta_Q,trace_P,trace_Q,datetime,hour
0,1,2010-11-25 20:40:53,2,856.9,NaN,NaN,NaN,2010-11-25,20:40:53
1,1,2010-11-25 20:44:17,2,790.0,NaN,NaN,NaN,2010-11-25,20:44:17
2,1,2010-11-25 20:51:49,2,-103.7,NaN,NaN,NaN,2010-11-25,20:51:49
3,1,2010-11-25 21:05:29,2,912.5,NaN,NaN,NaN,2010-11-25,21:05:29
4,1,2010-11-25 21:12:52,2,-98.0,NaN,NaN,NaN,2010-11-25,21:12:52
5,1,2010-11-25 21:14:00,2,-96.6,NaN,NaN,NaN,2010-11-25,21:14:00
6,1,2010-11-25 21:16:13,2,1491.5,NaN,NaN,NaN,2010-11-25,21:16:13
7,1,2010-11-25 21:19:16,2,-1357.1,NaN,NaN,NaN,2010-11-25,21:19:16
8,1,2010-11-25 21:26:32,2,777.1,NaN,NaN,NaN,2010-11-25,21:26:32
9,1,2010-11-25 21:34:36,2,-96.4,NaN,NaN,NaN,2010-11-25,21:34:36

In [18]:
df.count()

iid         6485017
tmstp       6485017
deploy      6485017
delta_P     6485017
delta_Q           0
trace_P           0
trace_Q           0
datetime    6485017
hour        6485017
dtype: int64

### Drop NaN

In [19]:
df.isnull().any() #15 parámetros

iid         False
tmstp       False
deploy      False
delta_P     False
delta_Q      True
trace_P      True
trace_Q      True
datetime    False
hour        False
dtype: bool

In [20]:
#df = df.dropna() #se eliminan las filas null
df = df.dropna(thresh=len(df.columns) - 15 + 1) #drop fila si parámetros = NaN (15)
df.isnull().any()

iid         False
tmstp       False
deploy      False
delta_P     False
delta_Q      True
trace_P      True
trace_Q      True
datetime    False
hour        False
dtype: bool

In [21]:
# filtro_NAN = df['miss_flag'] == 0
# df[filtro_NAN].head()

In [22]:
df.head()

,iid,tmstp,deploy,delta_P,delta_Q,trace_P,trace_Q,datetime,hour
0,1,2010-11-25 20:40:53,2,856.9,NaN,NaN,NaN,2010-11-25,20:40:53
1,1,2010-11-25 20:44:17,2,790.0,NaN,NaN,NaN,2010-11-25,20:44:17
2,1,2010-11-25 20:51:49,2,-103.7,NaN,NaN,NaN,2010-11-25,20:51:49
3,1,2010-11-25 21:05:29,2,912.5,NaN,NaN,NaN,2010-11-25,21:05:29
4,1,2010-11-25 21:12:52,2,-98.0,NaN,NaN,NaN,2010-11-25,21:12:52

In [23]:
df.count()

iid         6485017
tmstp       6485017
deploy      6485017
delta_P     6485017
delta_Q           0
trace_P           0
trace_Q           0
datetime    6485017
hour        6485017
dtype: int64

In [24]:
#fich_out = "dataset/preprocessed/new_" + dataset
fich_out = dataset
df.to_csv(fich_out, index=False)